h1{
	color: #DEAF43;
	background-color: #5496B0
}
p {
	font-family: 'Syncopate', sans-serif;
    color: blue;
}
a {
    color: #1F5B73;
}
body {
	margin: 40px 100px; 
    background-image: url("ScrollBackground.jpg");
	
	padding: 0 50px 30px;
	border-radius: 50px;
}

.importantQuote{
	border-style: dashed;
    border-width: 1px;
	margin-left: 50px;
	margin-right: 50px;
	padding: 25px;
    border-color: cyan;
}


#mainContent{
margin-left: 100px;
}

#navBar {
	background-color: #5496B0;
	padding-top: 75px;
	margin-left: 0;
	position: fixed;
	height: 100%;
	top:0;
	left:0;
	
}

#navBar ul li {
	text-decoration: none;
	display: block;
	color: #000050;
}

#navBar ul li a:hover{
	background-color: #fff;
	color: #000;
}

#navBar ul {
	list-style-type: none;
	margin-left: -10px;
	margin-right: 20px;
}

.centerThis {
	margin-left: auto;
	margin-right: auto;
	border: double;
}
